
@font-face {
  font-family: bebasbold;
  src: url("asset/Bebas Neue Pro Bold.otf") format("opentype");
}

@font-face {
  font-family: bebasreg;
  src: url("asset/Bebas Neue Pro Regular.otf") format("opentype");
}

body{
	color: white;
	font-family: "bebasreg", sans-serif;
	text-transform: uppercase; 
}


/* Hide content while preloading */

.button {
	z-index: 9999;
	position: relative;
	top:30px;
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  margin: 4px 2px;
  cursor: pointer;
}

.content {
	z-index: -1;
	background-color: black;
	text-align: center;
  margin-right: 50px;
  margin-left: 50px;
}

/* Centering the video container */
.video-container {
  justify-content: center;
  align-items: center;
    width: 80vw; /* 90% of viewport vidth */
    height: 50.625vw; /* ratio = 9/16 * 90 = 50.625 */
    max-height: 90vh;
    max-width: 160vh; /* 16/9 * 90 = 160 */
    margin: auto;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
}

/* Adjust the video dimensions */
video {
	border: 1px solid white;
  max-width: 100%;
  max-height: 100%;
}

